@CHARSET "utf-8";

// Text colors
$text-highlight: #F7E979;
$text-error: #900;
$text-light: #FFFFF3;
$text-medium: #666;
$text-dark: #333;

// Background colors
$bg-light: $text-light;
$bg-medium: $text-medium;
$bg-dark: $text-dark;
$page-bgcolor: $bg-dark;


// Mixins
@mixin clearfix { 
	&:before,&:after {
	   content: ""; 
	   display: table;
	}
	&:after {
	   clear: both;
	}
	&{*zoom: 1;}
}

html 
{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: $page-bgcolor;
	color: $text-dark;
}

code {
	background-color: $text-highlight;
}

/* Main container ***********************/
#pb_phonebook {
    width: 600px;
    margin: auto auto;
    padding:0px;
    
    .row {
        @include clearfix;
        div, section, ul {
            float: left;
        }
    }
    
    .edit_btn,.delete_btn,.iconbtn {
	    cursor: pointer;
	}
	
	.errormsg {
	    color: $text-error;
	    font-size:0.8em;
	    display: none;
	}
    
    header h1 {
	    font-size: 72px;
	    font-weight: bold;
	    text-align: center;
	    color: $text-light;
	    padding: 0px;
	    margin: 50px 0px 30px 0;
	}
	
	input {
	    border:1px solid #999;
	}
	
	label {
	    font-size: 12px;
	    font-style: italic;
	    padding-left: 5px;
	}
	
	/* Login form ***********************/
	#pb_login_frm { 
	    background-color: $bg-light;
	    border-bottom:2px #999 solid;
	    border-top:10px #999 solid;
	    padding: 15px 10px;
	    margin: 10px 0px;
	    display: none;
	    
	    .pb_login_block {
		    width: 260px;
		    margin-right:15px;
		}
	}
	
	#pb_uname {
	    font-size: 18px;
	    width:inherit;
	    padding: 5px;
	}
	
	#pb_pwd {
	    font-size: 18px;
	    width:inherit;
	    padding: 5px;
	}
	
	#pb_login_btn {
	    float: right;
	}
	
	#pb_login_demo {
	    margin:10px 5px;
	}
	
	#pb_logout {
	    float: right;
	    cursor: pointer;
	    margin-top: -30px;
	    display: none;
	}
	
	/* Control bar ***********************/
	#pb_filter { 
	    padding: 15px 10px;
	    background-color: $bg-light;
	    border-top:10px #999 solid;
	    border-bottom:2px #999 solid;
	    display: none;
	        
	    #pb_new {
	        width: 50px;
	        margin-top: 3px;
	    }
	    
	    #pb_find {
	        float:right;
	        text-align: right;
	        width: 530px;
	        
	        #pb_search {
		        background-image: url("../images/icons/search.png");
		        background-position: 6px 7px;
		        background-repeat: no-repeat;
		        height: 24px;
		        width:460px;
		        padding: 5px 0px 5px 35px;
		        font-size: 18px;
		    }
	    }
	}
	
	/* New contact form ***********************/ 
	#pb_new_frm {
	    background-color: $bg-light;
	    border-bottom:2px #999 solid;
	    border-top:10px #999 solid;
	    padding: 15px 10px;
	    display: none;
	    margin: 10px 0px;
	    
	    h3 {
		    margin-top: 0px;
		}
		
		input {
		    padding: 3px;
		}
		
		select {
		    padding: 2px;
		}
		
		div.row {
		    margin-bottom: 10px;
		}
		
		.pb_contactfname_block,.pb_contactlname_block {
		    width: 290px;
		}
		
		#pb_lastname {
		    width: 97%;
		    float: right;
		}
		
		#pb_firstname {
		    width: 95%;
		}
		
		.pb_phonenumber_block {
		    width: 290px;
		}
		
		.number {
		    width:95%;
		}
		
		.pb_phoneextension_block {
		    width: 120px;
		}
		
		.extension {
		    width:97%;
		}
		
		.pb_phonetype_block {
		    width: 160px;
		    margin-left: 8px;
		}
		
		.type {
		    width:97%;
		    float:right;
		}
		
		#pb_addphone_btn {
		    color: $text-medium;
		    padding-left: 5px;
		    font-size: 14px;
		}
		
		#pb_cancel_btn {
		    float: right;
		}
		
		#pb_save_btn {
		    float: right;
		}	
	}
	
	/* Contact List **********************************/
	#pb_main {
	    background-color: $bg-light;
	    padding: 15px 10px;
	    border-top:10px #999 solid;
	    border-bottom:2px #999 solid;
	    margin: 10px 0;
	    display: none;
	    
	    ul {
		    list-style: none;
		    margin-top: 0px;
		}
		
		article {
		    border-bottom: 1px #000 dotted;
		    margin-bottom: 12px;
		    min-height: 35px;
		    
		    &.hover {
			   font-weight: bold;
			   cursor:pointer;
			}
			
			&.selected {
			    width:100%;
			    margin-left:-10px;
			    padding-left:10px;
			    margin-right:-10px;
			    padding-right:10px;
			    margin-top:-12px;
			    padding-top:12px;			    
			    background: rgb(255,255,255);
			    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,136,1) 100%);
			    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,136,1)));
			    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,136,1) 100%);
			    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,136,1) 100%);
			    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,136,1) 100%);
			    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,136,1) 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff88',GradientType=0 );
			}
			
			&.templ_contact, li.templ_phone {
			    display: none;
			}
			
			.edit_btn {
			    padding-right: 5px;
			}
			
			&:last-child,&.last_article {
			    border-bottom: none;
			    margin-bottom: -15px;
			}
			
			.name_listview {
			    width:235px;
			    height:1.25em;
			    margin: 0 10px;
			    overflow: hidden;
			}
			
			.phone_listview {
			    width:235px;
			    float: right;
			    text-align: right;
			}
			
			.type_listview {
			    min-height: 15px;
			    font-size: 10px;
			    color: $text-medium;
			    display: inline-block;
			    margin-right: 5px;
			}
			
			.extension_listview {
			    font-size: 0.9em;
			}
		}
		
	    #list_footer {
		    background-color: $bg-medium;
		    color: $text-light;
		    font-size: 0.9em;
		    font-style:italic;
		    padding: 7px 10px;
		    width: 100%;
		    margin: 10px 0px -20px -10px;
		}	
	}
	
	/* Footer **********************************/
	footer {
	    padding: 5px 10px;
	    font-family:serif;
	    font-size: 14px;
	    font-style:italic;
	    text-align: right;
	    color: #ccc;
	    
	    a, a:visited, a:link {
		    color: #fff;
		}
	}
}