@CHARSET "utf-8";
html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #333333;
  color: #333333; }

code {
  background-color: #f7e979; }

/* Main container ***********************/
#pb_phonebook {
  width: 600px;
  margin: auto auto;
  padding: 0px;
  /* Login form ***********************/
  /* Control bar ***********************/
  /* New contact form ***********************/
  /* Contact List **********************************/
  /* Footer **********************************/ }
  #pb_phonebook .row:before, #pb_phonebook .row:after {
    content: "";
    display: table; }
  #pb_phonebook .row:after {
    clear: both; }
  #pb_phonebook .row {
    *zoom: 1; }
  #pb_phonebook .row div, #pb_phonebook .row section, #pb_phonebook .row ul {
    float: left; }
  #pb_phonebook .edit_btn, #pb_phonebook .delete_btn, #pb_phonebook .iconbtn {
    cursor: pointer; }
  #pb_phonebook .errormsg {
    color: #990000;
    font-size: 0.8em;
    display: none; }
  #pb_phonebook header h1 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: #fffff3;
    padding: 0px;
    margin: 50px 0px 30px 0; }
  #pb_phonebook input {
    border: 1px solid #999; }
  #pb_phonebook label {
    font-size: 12px;
    font-style: italic;
    padding-left: 5px; }
  #pb_phonebook #pb_login_frm {
    background-color: #fffff3;
    border-bottom: 2px #999 solid;
    border-top: 10px #999 solid;
    padding: 15px 10px;
    margin: 10px 0px;
    display: none; }
    #pb_phonebook #pb_login_frm .pb_login_block {
      width: 260px;
      margin-right: 15px; }
  #pb_phonebook #pb_uname {
    font-size: 18px;
    width: inherit;
    padding: 5px; }
  #pb_phonebook #pb_pwd {
    font-size: 18px;
    width: inherit;
    padding: 5px; }
  #pb_phonebook #pb_login_btn {
    float: right; }
  #pb_phonebook #pb_login_demo {
    margin: 10px 5px; }
  #pb_phonebook #pb_logout {
    float: right;
    cursor: pointer;
    margin-top: -30px;
    display: none; }
  #pb_phonebook #pb_filter {
    padding: 15px 10px;
    background-color: #fffff3;
    border-top: 10px #999 solid;
    border-bottom: 2px #999 solid;
    display: none; }
    #pb_phonebook #pb_filter #pb_new {
      width: 50px;
      margin-top: 3px; }
    #pb_phonebook #pb_filter #pb_find {
      float: right;
      text-align: right;
      width: 530px; }
      #pb_phonebook #pb_filter #pb_find #pb_search {
        background-image: url("../images/icons/search.png");
        background-position: 6px 7px;
        background-repeat: no-repeat;
        height: 24px;
        width: 460px;
        padding: 5px 0px 5px 35px;
        font-size: 18px; }
  #pb_phonebook #pb_new_frm {
    background-color: #fffff3;
    border-bottom: 2px #999 solid;
    border-top: 10px #999 solid;
    padding: 15px 10px;
    display: none;
    margin: 10px 0px; }
    #pb_phonebook #pb_new_frm h3 {
      margin-top: 0px; }
    #pb_phonebook #pb_new_frm input {
      padding: 3px; }
    #pb_phonebook #pb_new_frm select {
      padding: 2px; }
    #pb_phonebook #pb_new_frm div.row {
      margin-bottom: 10px; }
    #pb_phonebook #pb_new_frm .pb_contactfname_block, #pb_phonebook #pb_new_frm .pb_contactlname_block {
      width: 290px; }
    #pb_phonebook #pb_new_frm #pb_lastname {
      width: 97%;
      float: right; }
    #pb_phonebook #pb_new_frm #pb_firstname {
      width: 95%; }
    #pb_phonebook #pb_new_frm .pb_phonenumber_block {
      width: 290px; }
    #pb_phonebook #pb_new_frm .number {
      width: 95%; }
    #pb_phonebook #pb_new_frm .pb_phoneextension_block {
      width: 120px; }
    #pb_phonebook #pb_new_frm .extension {
      width: 97%; }
    #pb_phonebook #pb_new_frm .pb_phonetype_block {
      width: 160px;
      margin-left: 8px; }
    #pb_phonebook #pb_new_frm .type {
      width: 97%;
      float: right; }
    #pb_phonebook #pb_new_frm #pb_addphone_btn {
      color: #666666;
      padding-left: 5px;
      font-size: 14px; }
    #pb_phonebook #pb_new_frm #pb_cancel_btn {
      float: right; }
    #pb_phonebook #pb_new_frm #pb_save_btn {
      float: right; }
  #pb_phonebook #pb_main {
    background-color: #fffff3;
    padding: 15px 10px;
    border-top: 10px #999 solid;
    border-bottom: 2px #999 solid;
    margin: 10px 0;
    display: none; }
    #pb_phonebook #pb_main ul {
      list-style: none;
      margin-top: 0px; }
    #pb_phonebook #pb_main article {
      border-bottom: 1px #000 dotted;
      margin-bottom: 12px;
      min-height: 35px; }
      #pb_phonebook #pb_main article.hover {
        font-weight: bold;
        cursor: pointer; }
      #pb_phonebook #pb_main article.selected {
        width: 100%;
        margin-left: -10px;
        padding-left: 10px;
        margin-right: -10px;
        padding-right: 10px;
        margin-top: -12px;
        padding-top: 12px;
        background: white;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, white 0%, #ffff88 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ffff88));
        background: -webkit-linear-gradient(top, white 0%, #ffff88 100%);
        background: -o-linear-gradient(top, white 0%, #ffff88 100%);
        background: -ms-linear-gradient(top, white 0%, #ffff88 100%);
        background: linear-gradient(to bottom, white 0%, #ffff88 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffff88',GradientType=0 ); }
      #pb_phonebook #pb_main article.templ_contact, #pb_phonebook #pb_main article li.templ_phone {
        display: none; }
      #pb_phonebook #pb_main article .edit_btn {
        padding-right: 5px; }
      #pb_phonebook #pb_main article:last-child, #pb_phonebook #pb_main article.last_article {
        border-bottom: none;
        margin-bottom: -15px; }
      #pb_phonebook #pb_main article .name_listview {
        width: 235px;
        height: 1.25em;
        margin: 0 10px;
        overflow: hidden; }
      #pb_phonebook #pb_main article .phone_listview {
        width: 235px;
        float: right;
        text-align: right; }
      #pb_phonebook #pb_main article .type_listview {
        min-height: 15px;
        font-size: 10px;
        color: #666666;
        display: inline-block;
        margin-right: 5px; }
      #pb_phonebook #pb_main article .extension_listview {
        font-size: 0.9em; }
    #pb_phonebook #pb_main #list_footer {
      background-color: #666666;
      color: #fffff3;
      font-size: 0.9em;
      font-style: italic;
      padding: 7px 10px;
      width: 100%;
      margin: 10px 0px -20px -10px; }
  #pb_phonebook footer {
    padding: 5px 10px;
    font-family: serif;
    font-size: 14px;
    font-style: italic;
    text-align: right;
    color: #ccc; }
    #pb_phonebook footer a, #pb_phonebook footer a:visited, #pb_phonebook footer a:link {
      color: #fff; }
